.banner {
    background-color: #49F4FF;
}


.navbar-judul{
    font-family: 'Cabin',sans-serif;
    font-weight: 400;
    size: 30px;
    color: #080064;
    margin-top: 49px;
}
.judul-banner{
    font-family: 'Cabin',sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #080064;
margin-top: 58px;
margin-left: 68px;
}
.sub-judul-banner{
    font-family: 'Cabin',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 70px;
color: #FD0431;
}

.btn-menu{
font-family: 'Lora',sans-serif;
background-color: #F90707;
color: white;
height: 35px;
width: 300px;
left: 219px;
top: 361px;
border-radius: 10px;


}

.image-banner-1 {
    height: 309px;
    width: 505px;
    left: 898px;
    top: 103px;
    border-radius: 10px;
margin-left: 640px;
margin-top: -276px;    
background-image: url(../img/zzzzz.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.image-banner-2 {
    height: 412px;
width: 310px;
left: 764px;
top: 233px;
border-radius: 10px;
margin-left: 490px ;
margin-top: -200px;
background-image: url(../img/xd.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.image-banner-3 {
height: 270px;
width: 308px;
left: 214px;
top: 412px;
border-radius: 10px;
margin-top: -190px;
background-image: url(../img/EEE.jpg);
background-size: cover;
background-repeat: no-repeat;
}

/* update info */

.image-banner-4{
height: 400px;
width: 418px;
left: 315px;
top: 777px;
border-radius: 360px;
margin-top: 30px;
background-color: #49F4FF;
background-size: cover;
background-repeat: no-repeat;

}

.image-banner-5{
height: 350px;
width: 238px;
left: 396px;
top: 812px;
border-radius: 20px;
margin-top: -370px;
margin-left: 90px;   
background-image: url(../img/33.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.information{
    font-family: 'Lora',sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    color:#03E2AD;

}

.isi-information{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;

}

.btn-order{
    border-radius: 20px;
    background-color: blue;
    color: white;
    width: 200px;
    margin-left: 120px;
    font-family: 'lora',sans-serif;
}

/* sub-informasi */
.image-banner-6{
    height: 300px;
width: 250px;
left: 109px;
top: 1406px;
border-radius: 10px;
background-color: #49F4FF;
background-size: cover;
background-repeat: no-repeat;
margin-top: 120px;
margin-left: 150px;
}

.image-banner-7{
height: 300px;
width: 266px;
left: 144px;
top: 1364px;
border-radius: 10px;
background-image: url(../img/vvv.jpg);
background-size: cover;
background-repeat: no-repeat;
margin-top: -320px;
margin-left: 180px;
}

.sub-diskon{
font-family: 'Lora',sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 120px;
}

.isi-diskon{
font-family: 'Lora',sans-serif;
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 50px;

}

.btn-diskon{
    border-radius: 20px;
    background-color: blue;
    color: white;
    width: 200px;
    margin-left: 120px;
    font-family: 'lora',sans-serif;
}

/* paket */

.paket{
    margin-top: 100px;
    background-color: #49F4FF;
    padding-bottom: 50px;
}


.judul-paket{
font-family: 'Lora',sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin-top: 70px;
color: #FD0431;

}

.isi-paket{
font-family: 'Lora',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: blue;
margin-top: 40px;
margin-bottom: 50px;

}

.box-paket{
    width: 350px;
    border-radius: 10px;
    background-color: white;
}

.merk-paket{
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
color: #1807D6;
}

.paket-didapat{
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #F90707;
}

.btn-beli{
width: 257px;
border-radius: 40px;
background-color: #F90707;
color: white;
}
/* testimoni */
.judul-testimoni{
font-family: 'Lora',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
color:#080064;
margin-top: 50px;
}

.testimoni {
margin-top: 80px;
margin-left: 100px;
}

.pak-jokowi{
    margin-left: 100px;
    margin-top: -200px;
}

.isi-testimoni{
font-family: 'Lora',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-left: 450px;
margin-top: -220px;
}


.arrow-kiri{
height: 50.00000042940172px;
width: 60.00000051528207px;
left: 175.16448974609375px;
top: 3489.999755859375px;
border-radius: 0px;
margin-top: 100px;
}

.arrow-kanan{
    height: 50.00000042940172px;
    width: 60.00000051528207px;
    left: 175.16448974609375px;
    top: 3489.999755859375px;
    border-radius: 0px;
    margin-left: 870px;
    margin-top: -60px;
}

.presiden{
font-family: 'Lora',sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

/* about */

.about{
background-color: #49F4FF;
margin-top: 50px;
padding-bottom: 62px;
}
.judul-about{
font-family: 'Lora',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
color: #1807D6;
margin-top: 55px;
}

.isi-about{
font-family: 'Lora',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 55px;

}

.penjelasan{
font-family: 'Lora',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: blue;
}

.kerja-sama{
font-family: 'Lora',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-top: 55px;
}

.gofood{
font-family: 'Lora',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: blue;
}


.footer{
    background-color: #1807D6;
    color: white;
    font-family: 'Lora',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}